<div class="template-header">
  <div class="content-container">
    <h2>ABOUT</h2>
  </div>
</div>
<!-- load template based on active page -->
<div class="about content-container">
  	<p>I've always been amazed at how the best games can tell a story, teach a lesson, or just entertain all while maintaining fantastic gameplay and clever writing. Playing great games has inspired me to try my hand at creating one myself. My goal in creating games is to tell an entertaining tale that has a touch of my own personality in the narrative. </p>
  	<p>Though I'm still working on my game, I have completed a few other projects including Android apps, and creating this website. My motivation behind these projects is really just curiosity. Recently, I have taken interest in mobile development, so I took Google's Udacity course for developing Android apps. On top of that, seeing all the cool possibilities with virtual reality makes me want to start developing for VR with Unity.</p>
  	<p>I'm still in school, studying computer engineering with dreams to work in the silicon valley someday, just like everyone else.</p>
  	<p>Outside of coding, I like to play guitar, play video games, and I often fall victim to spending more time on Netflix than I'd like to admit.</p>
</div>