<div class="template-header">
    <div class="content-container">
        <h2>ABOUT</h2>
    </div>
</div>
<!-- load template based on active page -->
<div class="about content-container">
    <p>I've always been amazed at how the best games can tell a story, teach a lesson, or just entertain all while maintaining fantastic gameplay and clever writing. Some of my favourite games are Breath of the Wild, League of Legends, and BioShock. Playing great games has inspired me to try my hand at creating one myself. My goal in creating games is to tell an entertaining tale that has a touch of my own personality in the narrative.</p>
    <p>Though I'm still working on projects, I have completed a few others including Android apps, and creating this website. My motivation behind these projects is really just curiosity. To learn some Android, I took Google's Udacity course for developing Android apps. I was interested in VR, so I made a couple games using VR.</p>
    <p>I'm still in school at the University of Waterloo studying software engineering. Outside of coding, I like to play guitar, play video and board games, and I often fall victim to spending more time on Netflix than I'd like to admit.</p>
</div>